.container-module {
  margin-left: 5%;
}


.right-part {
  margin-left: 20%;
}

.poar-border {
      border-right: 2px solid green;
}

.image-module {
  width: 100%;
}


.custom-link {
  color: black;
  padding: 2%;
}
