@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  .jumbotron {
    color: white;
    background: none !important;
    height: 550px;
    border-radius: 0px;
    width: 100%;
  }
  .display-4 {
    font-size: 70px;
    font-family: 'Croissant One', cursive;
  }
  .lead {
    text-align: left;
    margin-left: 12%;
  }
  .slogan2 {
    display: none;
  }
  .landingDiv {
    padding-top: 50px;
    background: rgba( 0, 0, 0, 0.4);
    height: 250px;
    margin-bottom: 0;
  }
  .Home {
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }
  /*
* BANNER OF NEWS
*/
  .bannerNews {
    margin-top: -20px;
    height: 60px;
    background-color: #66A418;
  }
  .bannerNewsFont {
    line-height: 60px;
    font-size: 12px;
    color: white;
  }
  /*
* MISSION VISION VALORES
*/
  .missionDiv {
    color: #ADC186;
    font-size: 100px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
  }
  .missionVV {
    padding-left: 10%
  }
  .visionDiv {
    color: #3685CD;
    font-size: 100px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
  }
  .valuesDiv {
    color: #F6B283;
    font-size: 100px;
    text-align: left;
  }
  .missionFont {
    color: #ADC186;
    word-wrap: break-word;
    text-align: left;
  }
  .visionFont {
    color: #3685CD;
    word-wrap: break-word;
    text-align: left;
  }
  .valuesFont {
    color: #F6B283;
    word-wrap: break-word;
    text-align: left;
  }
  .methodology {
    text-align: center;
    margin-top: 30px;
    padding-top: 60px;
    background-color: rgba(77, 77, 77, .16);
    min-height: 550px;
    color: #4D4D4D;
  }
  .methodology .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 30px;
  }
  .methodology h1 {
    width: 100%;
    margin-bottom: 30px;
  }
  .icons {
    font-size: 100px;
  }
  .metTitle {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: left;
  }
  .metText {
    font-size: 20px;
    text-align: left;
  }
  /*
* TEAM
*/
  .team {
    background-color: rgba(102, 164, 24, .07);
    min-height: 600px;
    margin-top: 0px;
    color: #4D4D4D;
    text-align: center;
  }
  .team h1 {
    margin-top: 60px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
    color: #4D4D4D;
  }
  .teamComplete {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: #4D4D4D;
  }
  .teammate {
    padding-top: 40px;
    min-height: 400px;
    margin-bottom: 10px;
    color: #4D4D4D;
  }
  .t1 {
    background-color: #CC7979;
  }
  .t2 {
    background-color: #ACCC79;
  }
  .t3 {
    background-color: #79A9CC;
  }
  .t4 {
    background-color: #CCB579;
  }
  .teammate img {
    border-radius: 130px;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }
  .teammate-text {
    margin-top: -65px;
    padding-top: 85px;
    background-color: white;
    min-height: 295px;
    color: #4D4D4D;
  }
  .socialMediaIcon {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px;
  }
  .position {
    font-size: 13px
  }
  .dscr {
    line-height: normal;
    margin-bottom: 30px;
    color: #4D4D4D;
    padding-bottom: 20px;
  }
  .net {
    width: 7%;

  }
  .footer {
    min-height: 200px;
    margin-top: 0px;
    padding-top: 75px;
    background-color: #66A418;
    color: white;
    display: inline-block;
  }

  /*
* Contact + footer
*/
  .contact {
    color: #4D4D4D;
    background-color: white;
    min-height: 600px;
    margin-top: 0px;
    padding-top: 60px;
  }
  .cForm {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    min-height: 400px;
    box-shadow: 1px 1px 1px 1px #242329;
  }
  .cForm h2 {
    margin-top: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .input-form {
    background-color: #C4C4C4;
    border: 0;
    width: 100%;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .input-form2 {
    background-color: #C4C4C4;
    border: 0;
    width: 100%;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .input-form3 {
    background-color: #C4C4C4;
    border: 0;
    width: 100%;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .contact {
    color: #4D4D4D;
    background-color: white;
    min-height: 600px;
    margin-top: 0px;
    padding-top: 60px;
    width: 100%;
    padding-bottom: 50px;
  }
  .cForm {
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    min-height: 400px;
    box-shadow: 1px 1px 1px 1px #242329;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 601px) {
  body {
    width: 100%;
  }
  /*
* LANDING PAGE
*/
  .landingDiv {
    background: url('imgs/BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 550px;
  }
  .Home {
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }
  .jumbotron {
    color: white;
    padding-top: 150px;
    padding-left: 5%;
    background: none !important;
    height: 550px;
    border-radius: 0px
  }
  .btn-success-landing {
    background-color: #66A418;
    border: none;
    width: 150px;
    color: white !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 0px;
  }
  .display-4 {
    font-size: 70px;
    font-family: 'Croissant One', cursive;
  }
  .watchCourses {
    margin-left: 50px;
    color: white
  }
  /*
* BANNER OF NEWS
*/
  .bannerNews {
    height: 60px;
    margin-top: -55px;
    background-color: #66A418;
  }
  .bannerNewsFont {
    line-height: 60px;
    font-size: 22px;
    color: white;
  }
  /*
* MISSION VISION VALORES
*/
  .missionVV {
    padding-left: 10%;
    margin-top: 30px;
    padding-top: 60px;
    min-height: 400px;
  }
  .iconContainer {
    white-space: nowrap;
    text-align: center;
    line-height: 100px;
  }
  .missionDiv {
    text-align: left;
    color: #ADC186;
    font-size: 100px
  }
  .visionDiv {
    text-align: left;
    color: #3685CD;
    font-size: 100px;
  }
  .valuesDiv {
    text-align: left;
    color: #F6B283;
    font-size: 100px;
  }
  .fontContainer {
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
    padding-top: 40px;
    font-size: 20px;
  }
  .missionFont {
    color: #ADC186;
    word-wrap: break-word;
    text-align: left;
  }
  .visionFont {
    color: #3685CD;
    word-wrap: break-word;
    text-align: left;
  }
  .valuesFont {
    color: #F6B283;
    word-wrap: break-word;
    text-align: left;
  }
  /*
* Methodology
*/
  .methodology {
    margin-top: 30px;
    padding-top: 60px;
    background-color: rgba(77, 77, 77, .16);
    min-height: 400px;
    color: #4D4D4D;
  }
  .methodology .row {
    width: 90%;
    margin-left: 3%;
    margin-right: 3%;
  }
  .methodology h1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .metTitle {
    font-size: 40px;
    display: inline;
    margin-bottom: 10px;
    text-align: left;
  }
  .metText {
    font-size: 20px;
    text-align: left;
  }
  /*
* TEAM
*/
  .team {
    background-color: rgba(102, 164, 24, .07);
    min-height: 600px;
    margin-top: 0px;
    color: #4D4D4D;
    text-align: center;
  }
  .team h1 {
    margin-top: 60px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .teamComplete {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .teammate {
    padding-top: 40px;
    min-height: 400px;
    margin-bottom: 10px
  }
  .t1 {
    background-color: #CC7979;
  }
  .t2 {
    background-color: #ACCC79;
  }
  .t3 {
    background-color: #79A9CC;
  }
  .t4 {
    background-color: #CCB579;
  }
  .teammate img {
    border-radius: 130px;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }
  .teammate-text {
    margin-top: -65px;
    padding-top: 85px;
    background-color: white;
    min-height: 295px
  }
  .socialMediaIcon {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }
  .position {
    font-size: 13px
  }
  .dscr {
    margin-bottom: 30px
  }
  /*
* Carousel
*/
  .carousel {
    background-color: rgba(77, 77, 77, .16);
  }
  /*
* Contact + footer
*/
  .contact {
    color: #4D4D4D;
    background-color: white;
    min-height: 600px;
    margin-top: 0px;
    padding-top: 60px;
    width: 100%;
    padding-bottom: 50px;
  }
  .cForm {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    min-height: 400px;
    box-shadow: 1px 1px 1px 1px #242329;
    padding-bottom: 50px;
  }
  .cForm h2 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .input-form {
    background-color: #C4C4C4;
    border: 0;
    height: 40px;
  }
  .input-form2 {
    background-color: #C4C4C4;
    border: 0;
    height: 40px;
  }
  .input-form3 {
    background-color: #C4C4C4;
    border: 0;
    height: 120px;
  }
  .footer {
    margin-top: -200px;
    min-height: 200px;
    margin-top: 0px;
    padding-top: 75px;
    background-color: #66A418;
    color: white;
    display: inline-block;
  }
  .cl {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    color: black !important;
    display: inline-block;
  }
  .cli {
    text-align: center;
    color: black;
  }
  .lead {
    text-align: left;
    width: 700px;
  }
  .net {
    width: 18%;
  }
}
