.custom-link-course {
  color: black !important;
}

.custom-link-course a:hover {
  text-decoration: none;
}

.mainContent{
  margin-top: 100px;
  width: 100%;
}

.card-custom-courses {
  padding: 5%;
}

.customgoto {
  background: #52ca52;
  padding: 3%;
  /* margin: auto; */
  display: block;
  /* display: inline; */
  margin: auto;
  width: 35%;
  text-align: center;
  color: white;
  margin-bottom: 5%;
}

.course-card{
  margin-bottom: 10px;

}


/* MOBILE*/

@media screen and (max-width:680px){

  .dashboard_content {
    margin: auto;
  }


}
