.linkde {
display: block;
margin: auto;
margin-top: auto;
margin-right: auto;
margin-bottom: auto;
margin-left: auto;
color: white;
background: #257b25;
text-decoration: none;
padding: 1%;
}


.linka {
  color: white;
}
