.sidebar {
  background: #2E3831;
  height: 100%;
  position: fixed;
  width: 220px;
}

.sideBar-left{
  margin-top: 55px;
}

.sidebar a {
  color: white;
}

.sidebar a:hover {
  background: white;
  color: #2E3831;
}

.sidebar h3 {
  color: white;
  text-align: center;
  margin-top: 4%;
}

.sidebar  h4 {
  color: white;
  text-align: center;
  border-bottom: 3px solid white;
}

.sideBar p {
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 4%;
}

p {
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 4%;
}


/* MOBILE*/

@media screen and (max-width:680px){

  .sidebar {
    width: 100%;
    position: relative;
    margin-top: -4%;
  }


}
