@media only screen and (min-width: 601px) {
  .card-login {
    width: 100%;
  }

  .rg-container button{
    width: 100%;
    margin-left: -40px
  }


  .rg-container{
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px
  }

  .rg-container form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px
  }

  .NavBar{
    margin-bottom: 55px;
  }

  .textField{
    color: white;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  input {
    display: block;
  }

  .mainDiv {
    height: 700px;
  }

  .btn-success {
    background-color: #66A418;
    border: none;
    color: white !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 200px;
    margin-left: 10px;
  }

  .idStudent {
    color: white;
    font-size: 20px;
  }
}
