input[type=file], input[type=file]::-webkit-file-upload-button { cursor: pointer }


.imgteacher {
  height: 350px;
    width: 100%;
}

.card-custom {
  margin-top: 5%;
  margin-bottom: 5%;
}


.card-teacher {
  color: black !important;
}
